<div class="container">
  LOGO
  <% if customer_signed_in? %>
    マイページ
    商品一覧
    カート
    <li class="text-light">
      <%= link_to(destroy_customer_session_path, method: :delete) do %>
        ログアウト
      <% end %>
    </li>
  <% else %>
    <li class="text-light">
      <%= link_to(about_path) do %>
        About
      <% end %>
    </li>

    商品一覧

    <li class="text-light">
      <%= link_to(new_customer_registration_path) do %>
        新規登録
      <% end %>
    </li>
    <li class="text-light">
      <%= link_to(new_customer_session_path) do %>
        ログイン
      <% end %>
    </li>
  <% end %>
  Search
</div>

